.o-card {
  @extend %border-radius;
  @extend %box-shadow;
  padding: 30px;
  margin-bottom: 40px;
  background-color: $white;

  @include laptopDown {
    padding: 20px;
  }

  &_body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tabletDown {
      align-items: flex-start;
      flex-direction: column;
    }

    &-time,
    &-place {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-place {
      width: 285px;

      @include tabletDown {
        margin-top: 20px;
      }
    }
  }

  &_footer {
    display: flex;
    align-items: center;
  }

  &-logos {
    padding: 40px 50px;
    margin-bottom: 60px;

    .o-card_header {
      @include font-size(25);
      padding: 0 130px;
      line-height: 40px;

      @include laptopDown {
        padding: 0;
        text-align: left;
      }
    }

    @include laptopDown {
      padding: 20px;
    }
  }

  &:hover {
    background-color: #F2F7FB;
    box-shadow: none;
  }
}
