.o-card {
  @extend %border-radius;
  @extend %box-shadow;
  padding: 30px;
  margin-bottom: 30px;
  background-color: $white;
  transform: scale(1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: $box-shadow-hover;
    transform: scale(1.02);
  }

  @include laptopDown {
    padding: 20px;
  }

  &_body {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {

      @include laptopDown {
        justify-content: flex-start;
      }
    }

    @include tabletDown {
      align-items: flex-start;
      flex-direction: column;
    }

    &-time {

      @include tablet {

        @include laptopDown {
          margin-right: 30px;
        }
      }
    }

    &-time,
    &-place {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    &-place {
      width: 285px;

      @include tabletDown {
        margin-top: 20px;
      }
    }
  }

  &_footer {
    display: flex;
    align-items: center;
  }

  &-logos {
    padding: 40px 50px;
    margin-bottom: 60px;

    // &:hover {
    //   box-shadow: $box-shadow!important;
    //   transform: scale(1)!important;
    // }

    .o-card_header {
      @include font-size(25);
      padding: 0 130px;
      line-height: 40px;

      @include laptopDown {
        padding: 0;
        text-align: left!important;
      }
    }

    @include laptopDown {
      padding: 20px;
    }
  }
}
