.o-header {
  padding: 100px 0 50px;
  overflow: hidden;

  @include laptopDown {
    padding: 30px 0 40px;
  }

  &_logos {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &-ib {
      margin-right: 100px;

      @include laptopDown {
        margin-right: 40px;
      }
    }

    @include laptopDown {
      justify-content: center;
    }
  }
}
