.color-white {
  color: $white;
}

.color-primary {
  color: $brand-primary;
}

.out {
  margin-right: -15px;
  margin-left: -15px;
}

.text-uppercase  {
  text-transform: uppercase;
}

.h-100 {
  height: 100%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}
