.color-white {
  color: $white;
}

.color-prim {
  color: $brand-primary;
}

.out {
  margin-right: -15px;
  margin-left: -15px;
}

.text-uppercase  {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.hidden {
  @extend %hidden;
}
