<!--Load Main HTML Layout-->
{% extends "src/html/app/base.html" %}

<!--Define Site Name-->
{% set siteName = 'MWC' %}
<!-- (should stay the same on all pages) -->

<!--Define Main Schema-->
{% set schemaType = 'Article' %}

<!--Define OGP type-->
{% set opgType = 'article' %}

<!--Define Twitter type and handles-->
{% set twitterCardType = 'product' %}
{% set twitterNameAuthor = '@author_handle' %}
{% set twitterSite = '@site_handle' %}

<!--Define Page Details-->
{% set pageTitle = 'MWC' %}
{% set pageTitleName = 'MWC' %}
{% set pageDescription = 'Page description. No longer than 155 characters.' %}
{% set pageUrl = 'http://www.example.com/' %}
{% set pageImage = '../media/img/ogp.png' %}


<!--Define body class-->
{% set bodyClass = 'p-homepage' %}

<!--Main Content-->
{% block content %}

<header class="o-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="o-header_logos">
          <div class="o-header_logos-ib">
            <a class="c-link" href="https://www.infobip.com" target="_blank">
              <img class="c-img" src="media/img/logo-ib.svg" alt="infobip logo">
            </a>
          </div>
          <div class="o-header_logos-mwc">
              <img class="c-img" src="media/img/logo-mwc.svg" alt="mwc logo">
          </div>
        </div>
        <h2 class="c-ttl c-ttl-main">The Connected Customer Experience</h2>
        <p class="c-txt f-22">Personalized, contextualized communication over the <br>channels your customers use</p>
        <hr>
        <p class="c-txt f-22">Join us at MWC 2020 in Barcelona: <br><strong class="f-26">February 24 – 27, 2020</strong></p>
        <a class="c-btn c-btn-primary" href="#">SCHEDULE A MEETING</a>
      </div>
      <div class="col-lg-5">
        <img class="c-img c-img-hero" src="media/img/hero-image.svg" alt="#">
      </div>
    </div>
  </div>
</header>

<div class="c-section c-section-speakers c-bg c-bg-blue-dark">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-heavy c-ttl-speakers color-white text-center">Find Our Experts at the Various Events
          Taking Place at MWC2020</h2>
      </div>

      <div class="col-lg-6">
        <div class="o-card">
          <div class="o-card_header">
            <h3 class="c-ttl f-30 c-ttl-heavy">RCS Business Messaging Lab</h3>
            <p class="c-txt f-20">Find out about the future of RCS</p>
          </div>
          <hr>
          <div class="o-card_body">
            <div class="o-card_body-time">
              <img class="c-img" src="media/img/ic-date.svg" alt="calendar icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">23 February 2020</strong> <br>From 10:00 AM
              </p>
            </div>
            <div class="o-card_body-place">
              <img class="c-img" src="media/img/ic-map-pin.svg" alt="map pin icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">Barcelona Aquarium del Port Vell, Moll d'Espanya</strong>
              </p>
            </div>
          </div>
          <hr>
          <div class="o-card_footer">
            <img class="c-img" src="media/img/ic-speaker.svg" alt="speaker icon">
            <p class="c-txt">
              <span class="f-15 d-inline-block pb-1">Speaker:</span> <br>
              <strong class="f-18 c-ttl-bold color-primary">Silvija Renuša</strong>, <br><span class="f-15">Senior Product Manager</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="o-card">
          <div class="o-card_header">
            <h3 class="c-ttl f-30 c-ttl-heavy">Identity Summit</h3>
            <p class="c-txt f-20">Learn about trends in identity security</p>
          </div>
          <hr>
          <div class="o-card_body">
            <div class="o-card_body-time">
              <img class="c-img" src="media/img/ic-date.svg" alt="calendar icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">23 February 2020</strong> <br>From 10:30 AM
              </p>
            </div>
            <div class="o-card_body-place">
              <img class="c-img" src="media/img/ic-map-pin.svg" alt="map pin icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">Barcelona Aquarium del Port Vell, Moll d'Espanya</strong>
              </p>
            </div>
          </div>
          <hr>
          <div class="o-card_footer">
            <img class="c-img" src="media/img/ic-speaker.svg" alt="speaker icon">
            <p class="c-txt">
              <span class="f-15 d-inline-block pb-1">Speaker:</span> <br>
              <strong class="f-18 c-ttl-bold color-primary">Ante Sladojevic</strong>, <br><span class="f-15">Product Manager</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="o-card">
          <div class="o-card_header">
            <h3 class="c-ttl f-30 c-ttl-heavy">RCS Business Messaging Seminar</h3>
            <p class="c-txt f-20">Discover new trends in RCS business messaging</p>
          </div>
          <hr>
          <div class="o-card_body">
            <div class="o-card_body-time">
              <img class="c-img" src="media/img/ic-date.svg" alt="calendar icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">24 February 2020</strong> <br>From 12:00 PM
              </p>
            </div>
            <div class="o-card_body-place">
              <img class="c-img" src="media/img/ic-map-pin.svg" alt="map pin icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">Fira Gran Via, Room CC4.2, Media Village</strong>
              </p>
            </div>
          </div>
          <hr>
          <div class="o-card_footer">
            <img class="c-img" src="media/img/ic-speaker.svg" alt="speaker icon">
            <p class="c-txt">
              <span class="f-15 d-inline-block pb-1">Speaker:</span> <br>
              <strong class="f-18 c-ttl-bold color-primary">Krešo Žmak</strong>, <br><span class="f-15">Director Products</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="o-card">
          <div class="o-card_header">
            <h3 class="c-ttl f-30 c-ttl-heavy">Customer Service Debate</h3>
            <p class="c-txt f-20">Chatbots versus the human touch in customer service</p>
          </div>
          <hr>
          <div class="o-card_body">
            <div class="o-card_body-time">
              <img class="c-img" src="media/img/ic-date.svg" alt="calendar icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">23 February 2020</strong> <br>From ???
              </p>
            </div>
            <div class="o-card_body-place">
              <img class="c-img" src="media/img/ic-map-pin.svg" alt="map pin icon">
              <p class="c-txt f-15">
                <strong class="c-ttl-bold">Hall 4 Auditorium 3</strong>
              </p>
            </div>
          </div>
          <hr>
          <div class="o-card_footer">
            <img class="c-img" src="media/img/ic-speaker.svg" alt="speaker icon">
            <p class="c-txt">
              <span class="f-15 d-inline-block pb-1">Speaker:</span> <br>
              <strong class="f-18 c-ttl-bold color-primary">Krešo Žmak</strong>, <br><span class="f-15">Director Products</span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="o-card o-card-logos">
          <p class="o-card_header c-txt text-center">
            Visit us at the <strong class="c-ttl-bold color-primary">Google Booth in Hall 4,</strong> Innovation City,
            to find out how <strong class="c-ttl-bold color-primary">Infobip has helped</strong> <strong
            class="c-ttl-bold">EaseMyTrip, Kotak Mahindra Bank, Uber Eats, Papa John’s</strong> and <strong
            class="c-ttl-bold">Air Asia</strong> implement RCS.
          </p>
          <hr>
          <!-- TODO: rješit tablet i mobilno stackanje -->
          <ul class="c-list c-list-logos">
            <li class="c-list_item">
              <img class="c-img" src="media/img/logo-google.svg" alt="air asia logo">
            </li>
            <li class="c-list_item">
              <img class="c-img" src="media/img/logo-easeMyTrip.svg" alt="uber eats logo">
            </li>
            <li class="c-list_item">
                <img class="c-img" src="media/img/logo-uber-eats.svg" alt="uber eats logo">
            </li>
            <li class="c-list_item">
                <img class="c-img" src="media/img/logo-kotak.svg" alt="kotak logo">
            </li>
            <li class="c-list_item">
              <img class="c-img" src="media/img/logo-papa-johns-pizza.svg" alt="papa johns pizza logo">
            </li>
            <li class="c-list_item">
              <img class="c-img" src="media/img/logo-air-asia.svg" alt="air asia logo">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="c-section c-section-features c-bg c-bg-blue-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-heavy c-ttl-37 text-center">Enhance Customer Experience <br>Across All Stages of
            the Customer Journey</h2>
        <p class="c-txt text-center">with a perfect blend of customer-centricity, data, technology, <br>and a reliable
            partner at your side.</p>

        <ul class="c-list c-list-features">
          <li class="c-list_item text-center">
            <img class="c-img" src="media/img/ic-customer-onboarding.svg" alt="#">
            <h3 class="c-ttl f-22">Customer Onboarding</h3>
            <p class="c-txt f-18">Easy onboarding with fast, clear, and secure messages</p>
          </li>
          <li class="c-list_item text-center">
            <img class="c-img" src="media/img/ic-customer-engagement.svg" alt="#">
            <h3 class="c-ttl f-22">Customer Engagement</h3>
            <p class="c-txt f-18">Create personalized communication across all channels</p>
          </li>
          <li class="c-list_item text-center">
            <img class="c-img" src="media/img/ic-customer-service.svg" alt="#">
            <h3 class="c-ttl f-22">Customer Service</h3>
            <p class="c-txt f-18">Deliver effective contextual support in real time</p>
          </li>
          <li class="c-list_item text-center">
            <img class="c-img" src="media/img/ic-customer-retention.svg" alt="#">
            <h3 class="c-ttl f-22">Customer Retention</h3>
            <p class="c-txt f-18">Build lasting customer relationships at scale</p>
          </li>
          <li class="c-list_item text-center">
            <img class="c-img" src="media/img/ic-security.svg" alt="#">
            <h3 class="c-ttl f-22">Security</h3>
            <p class="c-txt f-18">Protect customers and their accounts with secure authentication solutions</p>
          </li>
        </ul>
      </div>

      <div class="col-lg-7 c-section-features_txt">
        <p class="c-txt"><strong class="c-ttl c-ttl-37 c-ttl-heavy op-8">Stop By To Discuss How We Can Improve Your
            Customer Experience</strong>
          <br> <span class="f-25 pt-2 d-inline-block">Hall 8.1, at Stand F49</span></p>
      </div>
      <div class="col-lg-5 c-section-features_cta"><a href="#" class="c-btn c-btn-secondary">VIEW STAND LOCATION</a></div>
    </div>
  </div>
</div>

<div class="c-section c-section-form c-bg c-bg-green">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="c-ttl c-ttl-37 c-ttl-heavy op-8 text-center">Looking forward to seeing you!</h2>
      </div>

      <!-- FORM start -->
      <div class="col-mdp-8 offset-mdp-2">
        <div id="main-form" class="mwc-form">
          <form>
            <div class="row">
               <div class="form-group col-mdp-6">
                  <label class="form-label">First name:</label>
                  <input type="text" class="form-control" placeholder="Name">
               </div>
               <div class="form-group col-mdp-6">
                  <label class="form-label">Last name:</label>
                  <input type="password" class="form-control" placeholder="Last name">
               </div>
            </div>
            <div class="row">
               <div class="form-group col-mdp-6">
                  <label class="form-label">Company:</label>
                  <input type="text" class="form-control" placeholder="Company Ltd.">
               </div>
               <div class="form-group col-mdp-6">
                  <label class="form-label" for="selection">Country:</label>
                  <select id="country" name="Country" class="form-control notranslate" data-fv-notempty="true" data-fv-message="This field is required" data-fv-field="Country" required="">
                    <option selected>Select</option>
                    <option value="Country">Country</option>
                    <option value="Country">Country</option>
                    <option value="Country">Country</option>
                  </select>
               </div>
            </div>
            <div class="row">
               <div class="form-group col-mdp-6">
                  <label class="form-label">Email</label>
                  <input type="email" class="form-control" placeholder="your.email@company.com">
               </div>
               <div class="form-group col-mdp-6">
                  <label class="form-label">Mobile phone:</label>
                  <input type="tel" class="form-control" placeholder="+38599563634">
               </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label class="form-label" for="comment">Message:</label>
                <textarea class="form-control" rows="5"></textarea>
              </div>
            </div>
            <a class="c-btn c-btn-primary c-btn-wide" href="#">SCHEDULE A MEETING</a>
          </form>
        </div>
      </div>
      <!-- FORM end -->
    </div>
  </div>
</div>

<footer class="o-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 order-lg-3">
        <ul class="c-list c-list-social">
          <li class="c-list_item">
            <a class="c-link c-link-twitter" href="#" target="_blank"></a>
          </li>
          <li class="c-list_item">
            <a class="c-link c-link-linkedin" href="#" target="_blank"></a>
          </li>
          <li class="c-list_item">
            <a class="c-link c-link-facebook" href="#" target="_blank"></a>
          </li>
          <li class="c-list_item">
            <a class="c-link c-link-github" href="#" target="_blank"></a>
          </li>
          <li class="c-list_item">
            <a class="c-link c-link-youtube" href="#" target="_blank"></a>
          </li>
          <li class="c-list_item">
            <a class="c-link c-link-instagram" href="#" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 text-center mt-3 mt-lg-0 text-lg-left">Copyright © 2006-2020 Infobip ltd.</div>
    </div>
  </div>
</footer>

{% endblock %}
