html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

html, body {
  font-family: $font-family-base;
  font-size: $body-font-size;
  line-height: $line-height-default;
  letter-spacing: $letter-spacing-default;
  color: $color-text-neutral;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;

  > li {
    font-size: 1rem;
  }

}

@media (min-width: 1200px) {

  .container {
      // max-width: 1160px!important;
  }
}

strong {
  font-family: $font-weight-bold;
}

br {

  .o-card_footer & {

    @include laptop {
      display: none;
    }
  }

  .c-ttl-37 & {
    @include laptopDown {
      display: none;
    }
  }
}

hr {
  outline: none;

  .o-header &,
  .o-card & {
    margin: 30px 0;

    @include tabletDown {
      margin: 20px 0;
    }
  }

  .o-header & {
    width: 150px;
    height: 1px;
    border: none;
    background-color: $brand-primary;

    @include laptopDown {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .o-card & {
    border-color: rgba($gray-light, .2);
  }

  .o-card-logos & {
    margin: 40px 0;

    @include tabletDown {
      margin: 20px 0;
    }
  }
}

%border-radius {
  border-radius: 7px;
}

%box-shadow {
  box-shadow: 0 3px 6px rgba($black, .05), 0 3px 6px rgba($black, .12);
}

$box-shadow: 0 3px 6px rgba($black, .05), 0 3px 6px rgba($black, .12);
$box-shadow-hover: 0 19px 38px rgba($black, .12), 0 15px 12px rgba($black, .09);

.p-thankYou {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header-logo {
  margin-top: 100px;
}

.main-content {
  flex: 1;
}

.o-body {

  .p-thankYou & {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    height: 100%;
    margin-top: 130px;
  }
}
