@font-face {
  font-family: "FSElliotPro-Thin";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-Thin.woff") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Thin.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "FSElliotPro-ThinItalic";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-ThinItalic.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-ThinItalic.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "FSElliotPro-Light";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-Light.woff") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Light.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FSElliotPro-LightItalic";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-LightItalic.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-LightItalic.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "FSElliotPro-Regular";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-Regular.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Regular.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "FSElliotPro-Italic";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-Italic.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Italic.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "FSElliotPro-Bold";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-Bold.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Bold.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FSElliotPro-BoldItalic";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-BoldItalic.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-BoldItalic.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "FSElliotPro-Heavy";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-Heavy.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Heavy.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "FSElliotPro-HeavyItalic";
  src: url("../../fonts/fs-elliot-pro/FSElliotPro-HeavyItalic.woff2") format("woff2"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-HeavyItalic.woff") format("woff"),
       url("../../fonts/fs-elliot-pro/FSElliotPro-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
