// Font Size
$body-font-size: 100%;



// Line height
$line-height-default: 1.2;



// Letter spacing
$letter-spacing-default: normal;
$letter-spacing-lg: 0.02rem;



// Font Family
$font-family-base:            "FSElliotPro-Regular", sans-serif;
$font-family-heading:         "FSElliotPro-Bold", sans-serif;
$font-family-code:            courier new, Courier, monospace;



// Font Weight
$font-weight-thin:            "FSElliotPro-Thin", sans-serif;
$font-weight-thinItalic:      "FSElliotPro-ThinItalic", sans-serif;
$font-weight-light:           "FSElliotPro-Light", sans-serif;
$font-weight-lightItalic:     "FSElliotPro-LightItalic", sans-serif;
$font-weight-regular:         "FSElliotPro-Regular", sans-serif;
$font-weight-italic:          "FSElliotPro-Italic", sans-serif;
$font-weight-bold:            "FSElliotPro-Bold", sans-serif;
$font-weight-boldItalic:      "FSElliotPro-BoldItalic", sans-serif;
$font-weight-heavy:           "FSElliotPro-Heavy", sans-serif;
