// Buttons

// Global settings
$btn-padding-y: 25px;
$btn-padding-x: 30px;
$btn-border-radius: 7px;
$btn-font-size: 20px;
$btn-font-weight: $font-weight-bold;

// Primary button settings
$btn-primary-bg: $brand-primary;
$btn-primary-bg-hover: $brand-primary-dark;


$btn-primary-color: $white;
$btn-primary-color-hover: $white;

$btn-primary-border-width: 0;
$btn-primary-border-width-hover: $btn-primary-border-width;
$btn-primary-border-style: solid;
$btn-primary-border-style-hover: $btn-primary-border-style;
$btn-primary-border-color: $white;
$btn-primary-border-color-hover: $brand-primary-dark;

// Secondary button settings
// $btn-secondary-bg: $brand-secondary;
// $btn-secondary-bg-hover: $brand-secondary-dark;


// $btn-secondary-color: $white;
// $btn-secondary-color-hover: $white;

// $btn-secondary-border-width: 0;
// $btn-secondary-border-width-hover: $btn-secondary-border-width;
// $btn-secondary-border-style: solid;
// $btn-secondary-border-style-hover: $btn-secondary-border-style;
// $btn-secondary-border-color: $white;
// $btn-secondary-border-color-hover: $brand-secondary-dark;

// TODO: add btn secondary options
// Primary button settings
.c-btn {
  position: relative;
  display: inline-block;
  min-width: 180px;
  max-width: 100%;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  border: none;
  box-shadow: 0 8px 23px rgba(81,114,221,.08);
  transition: all .2s cubic-bezier(.455,.03,.515,.955);
  outline: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: $btn-font-size;
  font-weight: 700;
  line-height: 1.3125;

  &-primary {
    background-color: $brand-primary;
    color: $white;
  }

  &-secondary {
    background-color: $brand-secondary;
    color: $white;
  }

  &-wide {
    width: 100%;
  }

  .o-header & {
    margin-top: 30px;

    @include laptopDown {
      display: block;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }

    @include tabletDown {
      width: 100%;
    }
  }

  .c-section-features_cta & {
    display: block;
    width: 100%;
    max-width: 440px;
    padding: 35px 20px;
    margin-top: 20px;
    margin-left: auto;

    @include laptopDown {
      display: block;
      width: 70%;
      margin-right: auto;
      margin-left: auto;
    }

    @include tabletDown {
      width: 100%;
      max-width: 440px;
    }
  }

  .mwc-form & {
    padding-top: 35px;
    padding-bottom: 35px;

    @include laptopDown {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}

button.c-btn:hover {
  cursor: pointer;
}

a.c-btn {
  text-decoration: none;
}
