.c-img {

  &-hero {
    margin-top: 70px;
    transform: translateX(80px) scale(.85);

    @include desktopDown {
      transform: translateX(0) scale(.75);
    }

    @include laptopDown {
      display: none;
    }
  }

  .o-header_logos & {

    @include laptopDown {
      display: block;
      height: 50px;
    }

    @include tabletDown {
      height: 35px;
    }
  }

  .o-card_body & {
    margin-right: 10px;
  }

  .o-card_footer & {
    margin-right: 10px;
    margin-left: 5px;
  }

  .c-list-logos & {

    @media (max-width: 734px) {
      width: 80%;
    }
  }
}
