// Link
.c-link {
  display: inline-block;

  .c-list-social & {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;

    @include laptopDown {
      width: 40px;
      height: 40px;
      background-size: contain;
    }
  }

  .c-list-social &-twitter {
    background-image: url("https://cf-cdn.infobip.com/assets/mwc2020/media/img/ic-twitter.svg");
  }
  .c-list-social &-linkedin {
    background-image: url("https://cf-cdn.infobip.com/assets/mwc2020/media/img/ic-linkedin.svg");
  }
  .c-list-social &-facebook {
    background-image: url("https://cf-cdn.infobip.com/assets/mwc2020/media/img/ic-facebook.svg");
  }
  .c-list-social &-github {
    background-image: url("https://cf-cdn.infobip.com/assets/mwc2020/media/img/ic-github.svg");
  }
  .c-list-social &-youtube {
    background-image: url("https://cf-cdn.infobip.com/assets/mwc2020/media/img/ic-youtube.svg");
  }
  .c-list-social &-instagram {
    background-image: url("https://cf-cdn.infobip.com/assets/mwc2020/media/img/ic-instagram.svg");
  }

  .o-card_body-place & {
    color: #171717;

    &:hover {
      color: $brand-primary;
      text-decoration: underline;
    }
  }

  .o-card_footer &:hover {
    text-decoration: underline;
  }

  .form-label & {

    &:hover {
      text-decoration: underline;
    }
  }
}

a.c-link {
  text-decoration: none;
}
