.c-list {

  &-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;

    @include laptopDown {
      flex-wrap: wrap;
      justify-content: center;
      max-height: 100%;
    }
  }

  &-features,
  &-social {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-features {

    @include laptopDown {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &-social {
    justify-content: flex-end;

    @include laptopDown {
      justify-content: center;
    }
  }

  &_item {

    .c-list-logos & {

      @include laptopDown {
        width: 33%;
        text-align: center;

        &:nth-child(n+4) {
          margin-top: 20px;
        }
      }

      @include tabletDown {
        width: 50%;

        &:nth-child(n+3) {
          margin-top: 20px;
        }
      }

      @media (max-width: 374px) {
        width: 100%;

        &:nth-child(n+1) {
          margin-top: 20px;
        }
      }
    }

    .c-list-features & {
      @extend %border-radius;
      @extend %box-shadow;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 215px;
      height: 310px;
      padding: 40px 10px 20px;
      margin-bottom: 20px;
      background-color: $white;
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);

      &:not(:last-child) {
        margin-right: 20px;
      }

      &:hover {
        box-shadow: $box-shadow-hover;
        transform: scale(1.02);
      }

      @include laptopDown {
        width: 300px;
        height: 250px;

        &:not(:last-child) {
          margin-right: 0;
        }
      }

      @include tabletDown {
        width: 100%;
      }
    }

    .c-list-social & {
      margin: 0 7px;
    }
  }
}
