.c-txt {
  margin: 0;
  opacity: .8;

  .o-header & {
    margin-top: 20px;
    line-height: 34px;
  }

  .o-header &.f-22 {

    @include laptopDown {
      @include font-size(20);
      text-align: center;
    }
  }

  .o-card_header & {
    margin-top: 10px;
  }

  .c-ttl-37 ~ & {
    @include font-size (25);
    line-height: 35px;
    margin-bottom: 40px;

    @include laptopDown {
      @include font-size(20);
      line-height: 28px;
      margin-bottom: 20px;
      text-align: left!important;
    }
  }

  .c-list-features & {
    margin-bottom: 18px;
    line-height: 22px;
  }

  .c-list-features .c-list_item:nth-child(4) & {
    margin-bottom: 39px;
  }

  .p-thankYou & {
    max-width: 630px;
    margin: 0 auto;
    line-height: 34px;
  }
}
