// Titles
.c-ttl {
  margin: 0;

  &-main {
    @include font-size(60);
    font-family: $font-weight-heavy;
    line-height: 1;

    @include laptopDown {
      @include font-size(40);
      text-align: center;
    }
  }

  &-heavy {
    font-family: $font-weight-heavy;
  }

  &-bold {
    font-family: $font-weight-bold;
  }

  &-speakers {
    @include font-size(30);
    margin-bottom: 60px;

    @include laptopDown {
      margin-bottom: 20px;
    }
  }

  &-37 {
    @include font-size(37);
    margin-bottom: 10px;

    @include laptopDown {
      @include font-size(30);
    }

    .c-section-features & {

      @include laptopDown {
        text-align: left!important;
      }
    }

    .c-section-form & {

      @include tabletDown {
        text-align: left!important;
      }
    }
  }

  .c-list-features & {
    margin: 0 20px;
  }

  .c-list-features .c-list_item:last-child & {
    margin-top: 10px;
  }

  .c-section-form & {
    margin-bottom: 60px;

    @include laptopDown {
      margin-bottom: 30px;
    }
  }
}
